<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP:200" rel="stylesheet">
	<title>晴海親水公園</title>
</head>
<body>
	<div>
		<header>
			<a href="https://photos.dream-exp.net">
				<h1>異郷好実</h1>
			</a>
		</header>
		<div>
			<article class="individual">
				<p class="time">{{ .Date.Format "2006年01月02日" }}</p>
				<h2>{{ .Title }}</h2>
				{{ .Content }}
			</article>
			<footer>
				{{ if .PrevInSection }}
					<a class="button__link" href="{{.PrevInSection.RelPermalink}}"><button class="prev">古い記事へ</button></a>
				{{ end }}
				<!-- <a hhref="#" onclick="javascript:window.history.back(-1);return false;"><button class="back">一覧へ戻る</button></a> -->
				{{ if .NextInSection }}
					<a class="button__link" href="{{.NextInSection.RelPermalink}}"><button class="next">新しい記事へ</button></a>
				{{ end }}
			</footer>
		</div>
	</div>
</body>
</html>