<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP:200" rel="stylesheet">
	<title>晴海親水公園</title>
</head>
<body>
	<div>
		<header>
			<h1>異郷好実</h1>
		</header>
		<div>
			<article class="individual">
				<p class="time">2018/10/2</p>
				<h2>晴海親水公園</h2>
				<img src="images/IMG_2477.jpg">
				<p class="caption">親水公園から見るコンビナート</p>
				<p class="text">
					親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。
				</p>
				<img src="images/IMG_2515.jpg">
				<p class="caption">親水公園から見るコンビナート</p>
				<p class="text">
					親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。
				</p>
				<p class="text">
					親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。
				</p>
			</article>
			<footer>
				<button>前の記事へ</button>
				<button>一覧へ戻る</button>
				<button>次の記事へ</button>
			</footer>
		</div>
	</div>
</body>
</html>