<!DOCTYPE html>
<html lang="ja">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126650763-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-126650763-2');
	</script>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP:200" rel="stylesheet">
	<link rel="shortcut icon" href="{{ .Site.BaseURL }}/images/favicon.ico" >
	<meta name="twitter:card" content="website" />
	<meta name="twitter:site" content="@dream_exp" />
	<meta property="og:url" content="https://photos.dream-exp.net" />
	<meta property="og:title" content="異郷好実" />
	<meta property="og:description" content="フォトエッセイ・ブログ" />
	<meta property="og:image" content="{{ .Site.BaseURL }}/images/index_eyecatch.png" />
	<title>異郷好実</title>
</head>
<body>
	<div>
		<header>
			<a href="https://photos.dream-exp.net">
				<h1>異郷好実</h1>
			</a>
		</header>
		<div>
			{{ range (.Paginator 5).Pages }}
	        	{{ .Render "list" }}
	      	{{ end }}

			{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
			<footer>
				{{ if .Paginator.HasNext }}
				<a href="{{ .Paginator.Next.URL }}"><button class="prev">古い記事へ</button></a>
				{{ end }}
			    {{ if .Paginator.HasPrev }}
			    <a href="{{ .Paginator.Prev.URL }}"><button class="next">新しい記事へ</button></a>
			    {{ end }}
			</footer>
			 {{ end }}
		</div>
	</div>
</body>
</html>